.bg-contact {
  background-image: url(../../../../public/contact/bg-contact1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ant-input-number .ant-input-number-input,
.input-form {
  width: 100%;
  color: #000 !important;
  padding-left: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0px;
}

.map-content .ant-input-number .ant-input-number-input:hover,
.map-content .ant-input-number .ant-input-number-input:focus,
.input-form:focus,
.input-form:hover {
  border-bottom: 2px solid #000;
  border-radius: 0px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.map-content .ant-input-number .ant-input-number-input:focus,
.input-form:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.map-content .ant-input-number-handler-wrap {
  display: none !important;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.map-content ::-webkit-input-placeholder {
  /* Edge */
  color: var(--grey) !important;
}

.map-content :-ms-input-placeholder {
  /* Internet Explorer */
  color: var(--grey) !important;
}

.map-content ::placeholder {
  color: var(--grey) !important;
}

/*Label Form */
.contact-form label {
  font-weight: 600;
  font-style: normal;
  color: #000 !important;
}

/*Submit Button*/
.submit-btn {
  background: var(--primary-dominant-light);
  color: #fff;
  padding: 0.4em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.submit-btn span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.submit-btn .send-icon {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
  transform: rotate(-45deg);
}

.submit-btn:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.submit-btn:hover .send-icon {
  transform: translateX(1.2em) scale(1.3) rotate(45deg);
}

.submit-btn:hover span {
  transform: translateX(5em);
}

.submit-btn:active {
  transform: scale(0.95);
}

/*scroll bar*/
/* width */
.map-content ::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
.map-content ::-webkit-scrollbar-thumb {
  background: var(--primary-dominant-lighter);
  border-radius: 10px;
}

/* Handle on hover */
.map-content ::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dominant-lighter);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.12em);
  }

  to {
    transform: translateY(-0.12em);
  }
}
